In [36]:
import time

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="jerin",
  password="jerin123"
)

mycursor = mydb.cursor()

In [2]:
mycursor.execute("CREATE DATABASE python_db")

DatabaseError: 1007 (HY000): Can't create database 'python_db'; database exists

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="jerin",
  password="jerin123",
  database='python_db'
)

mycursor = mydb.cursor()

In [ ]:
sql = "CREATE TABLE Python_Employee (name TEXT NOT NULL ,photo BLOB NOT NULL , biodata BLOB NOT NULL , id INT AUTO_INCREMENT PRIMARY KEY)"''

In [5]:
sql

NameError: name 'sql' is not defined

In [6]:
mycursor.execute(sql)

NameError: name 'sql' is not defined

In [7]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('Python_Employee',)

In [8]:
mycursor.execute("SHOW columns FROM Python_Employee")
print ([column[0] for column in mycursor.fetchall()])

['name', 'photo', 'biodata', 'id']

In [9]:
mycursor.execute("SELECT * FROM Python_Employee")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

## INSERT BLOB

In [10]:
def convertToBinaryData(filename):
    # Convert digital data to binary format
    with open(filename, 'rb') as file:
        binaryData = file.read()
    return binaryData

In [23]:
def insertBLOB(emp_id, name, photo, biodataFile):
    print("Inserting BLOB into Python_Employee table")
    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='python_db',
                                             user='jerin',
                                             password='jerin123')

        cursor = connection.cursor()
        sql_insert_blob_query = """ INSERT INTO Python_Employee
                          (id, name, photo, biodata) VALUES (%s,%s,%s,%s)"""

        empPicture = convertToBinaryData(photo)
        file = convertToBinaryData(biodataFile)

        # Convert data into tuple format
        insert_blob_tuple = (emp_id, name, empPicture, file)
        result = cursor.execute(sql_insert_blob_query, insert_blob_tuple)
        connection.commit()
        print("Successfully inserted Image and file as a BLOB into python_employee table", result)

    except mysql.connector.Error as error:
        print("Failed inserting BLOB data into MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [37]:
start=time.time()
insertBLOB(4, "Eric", "/home/skycam/basics/mysql_basics/MySQL_BLOB/indata/IMG-20190814-WA0003.jpg",
           "/home/skycam/basics/mysql_basics/MySQL_BLOB/indata/bio1.txt")
print('Time:',tim)

Inserting BLOB into Python_Employee table
Failed inserting BLOB data into MySQL table 1062 (23000): Duplicate entry '4' for key 'PRIMARY'
MySQL connection is closed

## SELECT BLOB

In [26]:
def write_file(data, filename):
    # Convert binary data to proper format and write it on Hard Disk
    with open(filename, 'wb') as file:
        file.write(data)

In [33]:
def readBLOB(emp_id, photo, bioData):
    print("Reading BLOB data from python_employee table")

    try:
        connection = mysql.connector.connect(host='localhost',
                                             database='python_db',
                                             user='jerin',
                                             password='jerin123')

        cursor = connection.cursor()
        sql_fetch_blob_query = """SELECT * from Python_Employee where id = %s"""

        cursor.execute(sql_fetch_blob_query, (emp_id,))
        record = cursor.fetchall()
        for row in record:
            print("Id = ", row[3], )
            print("Name = ", row[0])
            image = row[1]
            file = row[2]
            print("Storing employee image and bio-data on disk \n")
            write_file(image, photo)
            write_file(file, bioData)

    except mysql.connector.Error as error:
        print("Failed to read BLOB data from MySQL table {}".format(error))

    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [35]:
readBLOB(1, "eric_photo.jpg", "eric_bioData.txt")

Reading BLOB data from python_employee table
Id =  1
Name =  Eric
Storing employee image and bio-data on disk

MySQL connection is closed